* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}

 
header {
  background: linear-gradient(135deg, #000, #222);
  color: white;
  text-align: center;
  padding: 80px 20px;
  animation: fadeIn 1.5s ease-in;
}

header h1 {
  font-size: 2.5rem;
}

header span {
  color: #00e5ff;
}

header p {
  margin-top: 10px;
  font-size: 1.1rem;
}

 
section {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

 
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.4s, box-shadow 0.4s;
  animation: slideUp 1.2s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

 
.tech {
  text-align: center;
  font-size: 1.2rem;
}

.tech span {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #000;
  color: white;
  border-radius: 20px;
  animation: pulse 2s infinite;
}

/* CONTACT */
.contact {
  text-align: center;
}

.contact p {
  margin-bottom: 20px;
}

.social a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background: #000;
  padding: 10px 15px;
  border-radius: 50%;
  transition: background0.3s, color 0.3s;
}

.social a:hover {
  background: #00e5ff;
  color: #000;
}

footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
